*{
    padding: 0px;
    margin: 0px;
}

.mainbody{

.header{
       position: fixed;
       background-color: rgb(64, 124, 126);    
       width:100% ;
       height: 50px;
       display: flex;
       justify-content: space-between;
       z-index:1000;
      
       .logo{
           
        #a {
            text-decoration: none;
        }
        #h1{
            color: white;
            margin-left: 40px;
            margin-top: 5px;
            font-weight: 500;
            font-size: 30px;
            cursor: pointer;
            text-decoration: none;
        }
       }

      .right{
        display: flex;
        flex-direction: row;
           margin-right: 60px;
       .nav{
        margin-top: 10px;
        margin-right: 10px;
        width: 20px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
       

        .line1{
            #hr{
           border: 1px white;
            }
        }

       
       }
       .cart{
       
       .material-symbols-outlined{
            margin-top: 12px;
            color: white;
            cursor: pointer;
            font-size: 25px;
            font-variation-settings:
             'FILL' 0,
             'wght' 300,
             'GRAD' 0,
             'opsz' 20
             ;
            
            
       } 
       #num{
        color: white;
        position: absolute;
        border: 1px snow;
        background-color: red;
        border-radius: 40%;
        
       }
    }
}

    
}

.main{
    position: relative;

.sidenav{ 
    margin-top: 50px;
    position: fixed;
    background-color: cadetblue;
    height: 500px;
    width: 250px;
    display: flex;
    justify-content: center;
    z-index: 1000;

    #li{
        
        display: flex;
        flex-direction: column;
        gap: 10px;

       
    }
    #a{
        text-decoration: none;
        font-size: 25px;
        color: white

    }
    #a:hover{
        border: 1px solid;
        width: 80px;
        border-radius: 5px;
        
    }
    #hr{
        width: 120px;
    }   
}


.banner{
   height: 120vh; 
   position: relative;
   background-color:  rgb(64, 124, 126); ;
  
     #img{
        position: absolute;
        right: 60px;
        top: 80px;
       width:40%;
       object-fit: cover;
       border-radius: 20px;
       animation: backwards;
       height: auto;
     }  

     #h1{
        color: brown;
        position: absolute;
        top: 350px;
        left: 60px;
     }
     #p{
        color: rgb(165, 116, 42);
        position: absolute;
        top: 400px;
        left: 60px;
     }
     .btn{
         position: absolute;
         width: 120px;
         height: 30px;
         top: 450px;
         left: 60px;
         background-color: cadetblue;
         color: white;
         z-index: 100;
         border-radius: 20px;
         border: none;
     }
    
   
}


.scroll-containerg {
    position: relative;
    display: flex;
    overflow-x: hidden;
    padding: 30px;
    
}

.scroll-content {
    display: flex;
   
}

.content-item {
    flex-shrink: 0;
    width: 300px;
    height: 200px;
    margin: 10px;
    background-color: #ddd;
    border-radius: 30px;
    text-align: center;
    
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

.left {
    left: 10px;
	
}

.right {
    right: 15px;
   
}

.featureP{
    margin-top: 5px;
    text-align: center;
     padding: 40px;

.pp{
  position: relative;
  overflow: hidden;
  padding: 20px;
   
  .lst{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    grid-gap: 30px;

    .lst1{   
        border: 1px none ;
        width: 200px;
        height: 280px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow:  0.5px 0.5px 2px 2px rgba(147, 140, 140, 0.2);
        transition: 0.3s;
        position: relative;
        padding: 5px;
        
        .img{
            width: 100%;
            border-radius: 10px;
          
            
        }
        .btn{
        position: relative;
        top:-30px;
        background-color: transparent;
        color: cadetblue;
        border: 2px solid cadetblue;
        border-radius: 10px;  
        width: 100px; 
        }
       
        .btn:hover{
        background-color: cadetblue ;
        color: white;
        }
       
        .prd-info{
            margin-top: -18px;
             
            #h1{
                font-weight: 300;
                font-size: 30px;
                color: brown;
            }

            #typ{
                text-decoration: dotted;
            }
           
        }
    }
  }
   
}

}

}


.services{
display: flex;
justify-content: space-evenly;
background-color: rgb(174, 227, 229);
align-items: center;
text-align: center;
height: 150px;



.ic{
    font-size: 60px;
    margin-right: 15px;
    margin-left: 50px;
    width: 90px;
    height: 90px;
    border: 1px solid white;
    border-radius: 50%; 
    text-align: center; 
    background-color: white;
    color: cadetblue;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
}
}

.faq{
    width: 600px;
    height: 200px;
    margin-left: 200px;
}

.accordion {
    
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

.newsletter{
    background-color:beige;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    #in{
        width: 300px;
        height: 25px;
        border-radius: 10px;
        border-top-right-radius: 0pc;
        border-bottom-right-radius: 0px;
        border: 1px  solid black;
        
    }
    #in:hover{

    }

    #btn{
        height: 25px;
        border-radius: 10px;
        width: 85px;
        border-top-left-radius: 0pc;
        border-bottom-left-radius: 0px;
        margin: -5px;
        background-color: cadetblue;
        color: white;
        border: none;
    }
}

.footer{
    

    .fot-sec{
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        height: 200px;
    .lnks{  
        #a{
        display: block;
        text-decoration: none;
        color: black;
        margin-bottom: 20px;
        }
         
    }
        .icn{
     
            .fa{
                display: block;
                align-content: center;
                font-size: 30px;
                margin-left: 120px;
            }
        }
    }
        
      .sec{
        margin-bottom: 40px;
        text-align: center;
        font-size: 15px;
        font-weight: 200;
        #hr{
            margin-left: 150px;
            width: 900px;
            border-top: 1px solid rgb(6, 0, 0);
            
        } 
       
      }
       
    
}
}
@media only screen and (max-width: 600px) {
   .lst{
    grid-template-columns: auto;
    
   }
}




.ban1 {display: none}
img {vertical-align: middle;}

.banner {
   
    position: relative;
    margin: auto;
   
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:all;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }



  @media only screen and (max-width: 600px) {
    .banner{
     max-height: 50vh;
     
    }
    .sidenav{
        max-height: 50vh;
    }
  
    .lst{
       grid-template-columns: auto auto;
 }
}